<ion-header>
  <ion-navbar color = "primary">
    
    <ion-title>
      Nuevo
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page10" style="background-color:#0F73CF;">
  <form [formGroup]="myForm" (ngSubmit)="addMovimiento()" novalidate id="nuevo-form3">
    <ion-item id="nuevo-select1">
      <ion-label>
        Clase
      </ion-label>
      <ion-select formControlName="clase" [(ngModel)]= "movimiento.clase"  name="clase">
        <ion-option value="Gasto">
          Gasto
        </ion-option>
        <ion-option value= "Ingreso">
          Ingreso
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="myForm.get('clase').errors && myForm.get('clase').dirty">
      <p color="danger" ion-text *ngIf="myForm.get('clase').hasError('required')">Debe elegir una opción</p>
      
    </ion-item>
    <ion-item id="nuevo-input6">
      <ion-label>
        Concepto
      </ion-label>
      <ion-input formControlName="concepto" [(ngModel)]="movimiento.concepto"  placeholder="" name="concepto"></ion-input>
    </ion-item>
    <ion-item *ngIf="myForm.get('concepto').errors && myForm.get('concepto').dirty">
      <p color="danger" ion-text *ngIf="myForm.get('concepto').hasError('required')">Debe rellenar este campo</p>
    </ion-item>
    <ion-item id="nuevo-input7">
      <ion-label>
        Cantidad
      </ion-label>
      <ion-input  formControlName="cantidad" [(ngModel)]="movimiento.cantidad"  placeholder="" name="cantidad"  type="number" step="0.01"></ion-input>
    </ion-item>
    <ion-item *ngIf="myForm.get('cantidad').errors && myForm.get('cantidad').dirty">
      <p color="danger" ion-text *ngIf="myForm.get('cantidad').hasError('required')">Debe indicar una cantidad</p>
      <p color="danger" ion-text *ngIf="myForm.get('cantidad').hasError('required')">Cantidad no válida</p>
    </ion-item>
    <ion-item id="nuevo-input8">
      <ion-label>
        Fecha
      </ion-label>
      <ion-datetime formControlName="fecha"  displayFormat="DD/MMM/YYYY" pickerFormat="DD/MMM/YYYY" [(ngModel)]="movimiento.fecha"></ion-datetime>
      <ion-item *ngIf="myForm.get('fecha').errors && myForm.get('fecha').dirty">
        <p color="danger" ion-text *ngIf="myForm.get('cantidad').hasError('required')">Debe elegir una fecha</p>
      </ion-item>
    </ion-item>
  </form>
  
  <button id="nuevo-button4" ion-button color="dark" block (click)="takePhoto()">
    Imagen
  </button>
  <div style="width:100%;height:220px;margin:0px 0px;line-height:250px;background-color:#e8ebef;text-align:center;">
    <i class="icon ion-image" style="font-size:64px;color:#888;vertical-align:middle;"></i>
  </div>
  <button ion-button ion-button color="dark" ion-button block type="submit" [disabled]="myForm.invalid" block clear (click)="addMovimiento(movimiento)">Add</button>
</ion-content>
